networks:
  tova-net:
    name: tova_my_network
services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
      args:
        BUILDER_IMAGE: tova-builder:${VERSION}
        ASSETS_IMAGE:  tova-assets:${ASSETS_DATE}
    depends_on:
      postgres:
        condition: service_healthy
    #solr-api:
    #  condition: service_healthy
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "python", "-c", "import sys,urllib.request; sys.exit(0 if urllib.request.urlopen('http://127.0.0.1:8000/health', timeout=2).getcode()==200 else 1)"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 15s
    environment:
      - PYTHONUNBUFFERED=1
      - API_SOLR_URL=http://solr-api:8001
      - DRAFTS_SAVE=/data/drafts
      - DATABASE_URL=postgresql://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-mydb}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
    volumes:
      - ./data:/data
      - ./static/config:/app/static/config
    networks:
      - tova-net

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.ui
      args:
        ASSETS_IMAGE:  tova-assets:${ASSETS_DATE}
    depends_on:
      api:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      - FLASK_DEBUG="1"
      - API_BASE_URL=http://api:8000
      - DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres:5432/${POSTGRES_DB:-mydb}
      - POSTGRES_USER=${POSTGRES_USER:-user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
      - POSTGRES_DB=${POSTGRES_DB:-mydb}
    volumes:
    - ./data:/data
    - ./static/config:/app/static/config
    networks:
      - tova-net

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}       
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password} 
      POSTGRES_DB: ${POSTGRES_DB:-mydb}          
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-user} -d ${POSTGRES_DB:-mydb}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - tova-net
  
  solr-api:
    build:
      context: .
      dockerfile: docker/Dockerfile.solr_api
      args:
        BUILDER_IMAGE: tova-builder:${VERSION}
        ASSETS_IMAGE:  tova-assets:${ASSETS_DATE}
    depends_on:
      - solr
    ports:
      - 8001:8001
    environment:
      SOLR_URL: http://solr:8983
    #healthcheck:
    #  test: ["CMD", "python", "-c", "import sys,urllib.request; sys.exit(0 if urllib.request.urlopen('http://127.0.0.1:8001/health', timeout=2).getcode()==200 else 1)"]
    #  interval: 10s
    #  timeout: 3s
    #  retries: 5
    #  start_period: 15s
    volumes:
      - ./data:/data
      - ./dashbaord:/dashboard
    networks:
      - tova-net

  solr-initializer:
    image: alpine
    restart: "no"
    entrypoint: |
      /bin/sh -c "chown 8983:8983 /solr"
    volumes:
      - ./db/data/solr:/solr
    networks:
      - tova-net

  zoo:
    image: zookeeper:3.9
    restart: always
    ports: ["2180:8080", "2181:2181"]
    environment:
      - JVMFLAGS=-Djute.maxbuffer=50000000
    volumes:
      - ./db/data/zoo/data:/data
      - ./db/data/zoo/logs:/datalog
    networks:
      - tova-net

  solr:
    build:
      context: .
      dockerfile: docker/Dockerfile.solr_db
    container_name: solr
    restart: always
    depends_on: [zoo]
    ports: ["8983:8983"]
    environment:
      - ZK_HOST=zoo:2181
    volumes:
      - ./db/data/solr:/var/solr
    command: ["solr", "-f", "-c", "-z", "zoo:2181", "-a",
      "-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=1044 -Djute.maxbuffer=0x5000000"]
    networks:
      - tova-net

  solr_config:
    build: ./solr/config
    depends_on: [solr, zoo]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./solr/config/bash_scripts:/bash_scripts
      - ./db/data/solr:/db/data/solr
    command: ["sh","-c","chmod +x /bash_scripts/init_config.sh && ls /bash_scripts && bash_scripts/init_config.sh /db/data/solr/data"]
    networks:
      - tova-net

volumes:
  data:
  postgres_data: # New volume for persistent Postgres data